<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{title}</title>
	<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
 	<link rel="stylesheet/less" type="text/css" href="__PUBLIC__/css/app.less">
 	<script src="__PUBLIC__/js/less.min.js"></script>
</head>
<body>

	<include file="header" />
<div class="w1100">
  <div class="erji_header">
  	<img src="__PUBLIC__/img/neiye_about.jpg" alt="">
  </div>
  <div class="erji_main">
  	<div class="left">
  		<a class="title" href="">关于我们<br>About Us</a>
  		<ul>
  			<li><a href="">公司简介</a></li>
  			<li><a href="">组织结构</a></li>
  			<li><a href="">资质荣誉</a></li>
  			<li><a href="">联系我们</a></li>
  		</ul>
  	</div>

  	<div class="right">
  		<div class="top">
  			<div class="left">
  				<i class="fa fa-home fa-lg" style="color: blue;margin-right: 5px"></i><span>公司简介</span>
  			</div>
  			<div class="right">
  				<span>首页：关于我们 > 公司简介</span>
  			</div>
  		</div>
  		<div class="contain">
  			<p>中建二局第一建筑工程有限公司，1954年组建，2003年4月经资产重组，改制为中国建筑第二工程局有限公司控股、香港保华建筑集团参股的合资公司。公司具有房屋建筑、机电安装工程施工总承包一级资质，地基与基础工程、钢结构、电梯安装、起重设备安装、建筑装修装饰工程等专业承包一级资质。通过质量、环境、职业健康安全三合一整合型管理体系认证，公司信用等级常年保持AAA。
　　公司现有员工3189人。其中教授级高级工程师3人，高级工程师95人；中级职称管理人员441人，一级注册建造师70人，二级建造师25人。
　　目前，公司经营网络辐射华南、华北、华东、西北、东北，形成了以北京为中心辐射津冀周边的华北市场；以深圳为中心辐射广东、福建、海南周边的华南市场及越南市场；以上海为中心辐射江苏、浙江、山东周边的华东市场；以内蒙古为中心辐射西安的四大区域市场，另外公司在吉林、长春、哈尔滨、太原、长沙等城市设有直管项目部，并已形成经营规模，施工项目分布全国二十几个省市。在海外市场的经营优势也日渐显现，越南、韩国、阿尔及利亚工程进展顺利。
 
　　公司始终保持着在电厂建设、超高层建筑、大型群体性工程等方面的施工管理优势，在施工管理上趋于标准化、精细化。公司施工的超高层建筑代表工程有：384米的深圳地王商业大厦、354米的深圳赛格广场、329米的深圳汉国城市商业中心、328米的江苏江阴空中华西村、242米的大连云山大厦、241米的大连期货大厦、224米的长沙华远.金外滩三期工程、211米的深圳招商局广场等；大型群体性代表工程有： 西双版纳万达广场（60万平方米）、长沙北辰新河三角洲工程（110万平方米）、奥运媒体村一期工程（32万平方米）、呼和浩特万达广场（80万平方米）、吉东•托斯卡纳小区工程（40万平方米）、 大庆万达广场（57万平方米）、晋江万达广场（97万平方米）、贵州毕节.招商花园城工程（79万平方米）、深圳积谷田工程（34万平方米）、北京朝阳区常营乡两限房（21万平方米）、山东荣成（220万平方米）、山东菏泽国贸中心工程（101万平方米）、哈尔滨永泰城商业地块工程（39万平方米）、河北三河燕郊物流城工程（拟建1420万平方米）等。
　　公司曾获得6项鲁班奖等国家级奖项和上百项省市级奖项。多次获得全国用户满意施工企业、首都文明单位称号、北京市建筑业十佳企业、首都五一劳动奖状和全国五一劳动奖状。多次获得全国用户满意施工企业。首都文明单位称号、北京市建筑业十佳企业，首都五一劳动奖状和全国五一劳动奖状。

　　作为国有控股企业，公司拥有“中国建筑”的著名品牌。“构筑精品，奉献社会”是公司永恒的发展目标。公司致力于为业主提供全方位立体式的服务，追求建筑产品的尽善尽美，竭诚报答社会各界的支持与帮助。</p>
  		</div>
  	</div>
  </div>
</div> 

	<include file="footer" />

</body>
</html>