<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{title}</title>
	<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
 	<link rel="stylesheet/less" type="text/css" href="__PUBLIC__/css/app.less">
 	<script src="__PUBLIC__/js/less.min.js"></script>
</head>
<body>

	<include file="header" />
<div class="w1100">
  <div class="erji_header">
  	<img src="__PUBLIC__/img/neiye_about.jpg" alt="">
  </div>
  <div class="erji_main">
  	<div class="left">
  		<a class="title" href="">业务领域<br>Business</a>
  		<ul>
  			<li><a href="">地产开发</a></li>
  			<li><a href="">工程建设</a></li>
  			<li><a href="">土砖工程</a></li>
  			<li><a href="">物管服务</a></li>
        <li><a href="">货空服务</a></li>
        <li><a href="">物流贸易</a></li>
        <li><a href="">水电安装</a></li>
        <li><a href="">xxxx</a></li>
  		</ul>
  	</div>

  	<div class="right">
  		<div class="top">
  			<div class="left">
  				<i class="fa fa-home fa-lg" style="color: blue;margin-right: 5px"></i><span>业务领域</span>
  			</div>
  			<div class="right">
  				<span>首页：业务领域 > 地产开发</span>
  			</div>
  		</div>
  		<div class="contain">
  			<div class="preject">
          <div class="pic_box">
            <div class="img"></div>
            <div class="bottom">海上世界双玺花园总承包工程</div>
          </div>  
          <div class="pic_box">
            <div class="img"></div>
            <div class="bottom">海上世界双玺花园总承包工程</div>
          </div>  
          <div class="pic_box">
            <div class="img"></div>
            <div class="bottom">海上世界双玺花园总承包工程</div>
          </div>  
          <div class="pic_box">
            <div class="img"></div>
            <div class="bottom">海上世界双玺花园总承包工程</div>
          </div>  
          <div class="pic_box">
            <div class="img"></div>
            <div class="bottom">海上世界双玺花园总承包工程</div>
          </div>  
          <div class="pic_box">
            <div class="img"></div>
            <div class="bottom">海上世界双玺花园总承包工程</div>
          </div>  
        </div>
   
        <div class="page">
          <a href="">首页</a>
          <a href="">上一页</a>
          <a href="">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a href="">下一页</a>
          <a href="">末页</a>
        </div>
  		</div>
  	</div>
  </div>
</div> 

	<include file="footer" />

</body>
</html>