<header>
 			<div class="header-top w1100">
 				<div class="left">
 					<img src="__PUBLIC__/img/logo.png" alt="">
 				</div>
 				<div class="right">
 					<a href="">设为首页</a>
 					<span> | </span>
 					<a href="">加入收藏</a>
 					<span> | </span>
 					<a href="">联系我们</a>
 					<div class="bottom">
 						<span>业务咨询：<i class="fa fa-phone fa-lg"></i></span>
 						<span class="tel">13298770877</span>
 					</div>
 				</div>
 			</div>
 			<div class="w100">
 			<nav class="w1100">
 				<ul>
 					<li><a href="__CONTROLLER__/index">首页</a></li>
 					<li><a href="__CONTROLLER__/about">公司概况</a></li>
 					<li><a href="__CONTROLLER__/culture">企业文化</a></li>
 					<li><a href="__CONTROLLER__/news">新闻中心</a></li>
 					<li><a href="__CONTROLLER__/area">业务领域</a></li>
 					<li><a href="__CONTROLLER__/resouce">人力资源</a></li>
 					<li><a href="__CONTROLLER__/group">集团公司</a></li>
 				</ul>
 			</nav>
 			</div>
 		</header>