<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{title}</title>
	<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
 	<link rel="stylesheet/less" type="text/css" href="__PUBLIC__/css/app.less">
 	<script src="__PUBLIC__/js/less.min.js"></script>
</head>
<body>

	<include file="header" />
<div class="w1100">
  <div class="erji_header">
  	<img src="__PUBLIC__/img/neiye_about.jpg" alt="">
  </div>
  <div class="erji_main">
  	<div class="left">
  		<a class="title" href="">新闻中心<br>News</a>
  		<ul>
  			<li><a href="">公司动态</a></li>
  			<li><a href="">行业动态</a></li>
  		</ul>
  	</div>

  	<div class="right">
  		<div class="top">
  			<div class="left">
  				<i class="fa fa-home fa-lg" style="color: blue;margin-right: 5px"></i><span>新闻中心</span>
  			</div>
  			<div class="right">
  				<span>首页：关于我们 > 新闻中心</span>
  			</div>
  		</div>
  		<div class="contain">
  			<ul>
          <li><a href="">一公司上海分公司歌舞《咏春》表演促社区共建</a><span class="time">2015-8-9</span></li>   
          <li><a href="">一公司上海分公司歌舞《咏春》表演促社区共建</a><span class="time">2015-8-9</span></li>   
          <li><a href="">一公司上海分公司歌舞《咏春》表演促社区共建</a><span class="time">2015-8-9</span></li>   
          <li><a href="">一公司上海分公司歌舞《咏春》表演促社区共建</a><span class="time">2015-8-9</span></li>   
          <li><a href="">一公司上海分公司歌舞《咏春》表演促社区共建</a><span class="time">2015-8-9</span></li>   
          <li><a href="">一公司上海分公司歌舞《咏春》表演促社区共建</a><span class="time">2015-8-9</span></li>   
        </ul>

        <div class="page">
          <a href="">首页</a>
          <a href="">上一页</a>
          <a href="">1</a>
          <a href="">2</a>
          <a href="">3</a>
          <a href="">下一页</a>
          <a href="">末页</a>
        </div>
  		</div>
  	</div>
  </div>
</div> 

	<include file="footer" />

</body>
</html>