<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{title}</title>
	<link rel="stylesheet" href="__PUBLIC__/css/font-awesome.min.css">
 	<link rel="stylesheet/less" type="text/css" href="__PUBLIC__/css/app.less">
 	<script src="__PUBLIC__/js/less.min.js"></script>
</head>
<body>

	<include file="header" />
<div class="w1100">
  <div class="erji_header">
  	<img src="__PUBLIC__/img/neiye_about.jpg" alt="">
  </div>
  <div class="erji_main">
  	<div class="left">
  		<a class="title" href="">人力资源<br>News</a>
  		<ul>
  			<li><a href="">人才理念</a></li>
  			<li><a href="">人才招聘</a></li>
  		</ul>
  	</div>

  	<div class="right">
  		<div class="top">
  			<div class="left">
  				<i class="fa fa-home fa-lg" style="color: blue;margin-right: 5px"></i><span>人力资源</span>
  			</div>
  			<div class="right">
  				<span>首页：关于我们 > 人才理念</span>
  			</div>
  		</div>
  		<div class="contain">
  			


  		</div>
  	</div>
  </div>
</div> 

	<include file="footer" />

</body>
</html>